<a href="https://colab.research.google.com/github/AliDavoodi98/ds-algorithm-training/blob/main/Databases/GROUP-COUNT-SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Grouping Data by One Column**

> Add blockquote



---

In [6]:
import pandas as pd
import numpy as np

# Generate some example data for movies
np.random.seed(0)

# Movie titles (example set)
movie_titles = [f"Movie {i}" for i in range(1, 101)]

# Genres (randomly assigned)
genres = np.random.choice(['Action', 'Comedy', 'Drama', 'Horror', 'Sci-Fi', 'Romance', 'Adventure'], 100)

# Release years (randomly between 1980 and 2023)
release_years = np.random.randint(1980, 2024, size=100)

# Directors (example set)
directors = np.random.choice(['Director A', 'Director B', 'Director C', 'Director D', 'Director E'], 100)

# Cast (each movie will have 3 random actors)
actors = ['Actor X', 'Actor Y', 'Actor Z', 'Actor W', 'Actor V', 'Actor U', 'Actor T']
cast = [', '.join(np.random.choice(actors, 1, replace=False)) for _ in range(100)]

# Ratings (random float values between 1 and 10)
ratings = np.round(np.random.uniform(1, 10, 100), 1)

# Box office earnings (random values between $10M and $500M)
box_office = np.random.randint(10, 500, size=100) * 1e6

# Creating the DataFrame
df = pd.DataFrame({
    'Title': movie_titles,
    'Genre': genres,
    'Release Year': release_years,
    'Director': directors,
    'Cast': cast,
    'Rating': ratings,
    'Box Office ($)': box_office
})

In [26]:
import sqlite3

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Load the DataFrame into the SQL database
df.to_sql('my_table', conn, index=False, if_exists='replace')

# Example: Run an SQL query
query = 'SELECT Genre, Count(*) FROM my_table GROUP BY(Genre)'
result = pd.read_sql_query(query, conn)

# Display the query result
print(result)

       Genre  Count(*)
0     Action        16
1  Adventure        12
2     Comedy        16
3      Drama        10
4     Horror        19
5    Romance         9
6     Sci-Fi        18