<a href="https://colab.research.google.com/github/AliDavoodi98/ds-algorithm-training/blob/main/Databases/like-SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Select the columns movie_title, imdb_rating, and year_released from the table movies. Show movies that have the word ‘Godfather’ in the title.**

---

In [6]:
import pandas as pd
import numpy as np

# Generate some example data for movies
np.random.seed(0)

# Movie titles (example set)
movie_titles = [f"Movie {i}" for i in range(1, 101)]

# Genres (randomly assigned)
genres = np.random.choice(['Action', 'Comedy', 'Drama', 'Horror', 'Sci-Fi', 'Romance', 'Adventure'], 100)

# Release years (randomly between 1980 and 2023)
release_years = np.random.randint(1980, 2024, size=100)

# Directors (example set)
directors = np.random.choice(['Director A', 'Director B', 'Director C', 'Director D', 'Director E'], 100)

# Cast (each movie will have 3 random actors)
actors = ['Actor X', 'Actor Y', 'Actor Z', 'Actor W', 'Actor V', 'Actor U', 'Actor T']
cast = [', '.join(np.random.choice(actors, 1, replace=False)) for _ in range(100)]

# Ratings (random float values between 1 and 10)
ratings = np.round(np.random.uniform(1, 10, 100), 1)

# Box office earnings (random values between $10M and $500M)
box_office = np.random.randint(10, 500, size=100) * 1e6

# Creating the DataFrame
df = pd.DataFrame({
    'Title': movie_titles,
    'Genre': genres,
    'Release Year': release_years,
    'Director': directors,
    'Cast': cast,
    'Rating': ratings,
    'Box Office ($)': box_office
})

In [20]:
import sqlite3

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Load the DataFrame into the SQL database
df.to_sql('my_table', conn, index=False, if_exists='replace')

# Example: Run an SQL query
query = 'SELECT * FROM my_table WHERE Title LIKE "%Movie%"'
result = pd.read_sql_query(query, conn)

# Display the query result
print(result)

        Title      Genre  Release Year    Director     Cast  Rating  \
0     Movie 1     Sci-Fi          2003  Director D  Actor Y     2.6
1     Movie 2    Romance          1995  Director B  Actor V     4.5
2     Movie 3     Action          1993  Director B  Actor W     9.6
3     Movie 4     Horror          2001  Director E  Actor Z     3.7
4     Movie 5     Horror          1985  Director A  Actor Y     2.4
..        ...        ...           ...         ...      ...     ...
95   Movie 96     Sci-Fi          1995  Director B  Actor T     4.1
96   Movie 97     Action          2021  Director C  Actor W     7.4
97   Movie 98  Adventure          1998  Director A  Actor Z     6.8
98   Movie 99     Sci-Fi          2020  Director A  Actor U     4.6
99  Movie 100     Horror          1995  Director C  Actor W     4.9

    Box Office ($)
0      492000000.0
1      107000000.0
2      248000000.0
3      413000000.0
4      378000000.0
..             ...
95     223000000.0
96     294000000.0
97     324000000.0
98     223000000.0
99      88000000.0

[100 rows x 7 columns]