<a href="https://colab.research.google.com/github/AliDavoodi98/ds-algorithm-training/blob/main/Databases/WHERE-AND-SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Selecting a Few Columns and Filtering Data Using Two Conditions in WHERE**

---

In [6]:
import pandas as pd
import numpy as np

# Generate some example data for movies
np.random.seed(0)

# Movie titles (example set)
movie_titles = [f"Movie {i}" for i in range(1, 101)]

# Genres (randomly assigned)
genres = np.random.choice(['Action', 'Comedy', 'Drama', 'Horror', 'Sci-Fi', 'Romance', 'Adventure'], 100)

# Release years (randomly between 1980 and 2023)
release_years = np.random.randint(1980, 2024, size=100)

# Directors (example set)
directors = np.random.choice(['Director A', 'Director B', 'Director C', 'Director D', 'Director E'], 100)

# Cast (each movie will have 3 random actors)
actors = ['Actor X', 'Actor Y', 'Actor Z', 'Actor W', 'Actor V', 'Actor U', 'Actor T']
cast = [', '.join(np.random.choice(actors, 1, replace=False)) for _ in range(100)]

# Ratings (random float values between 1 and 10)
ratings = np.round(np.random.uniform(1, 10, 100), 1)

# Box office earnings (random values between $10M and $500M)
box_office = np.random.randint(10, 500, size=100) * 1e6

# Creating the DataFrame
df = pd.DataFrame({
    'Title': movie_titles,
    'Genre': genres,
    'Release Year': release_years,
    'Director': directors,
    'Cast': cast,
    'Rating': ratings,
    'Box Office ($)': box_office
})

In [21]:
import sqlite3

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Load the DataFrame into the SQL database
df.to_sql('my_table', conn, index=False, if_exists='replace')

# Example: Run an SQL query
query = 'SELECT * FROM my_table WHERE "Release Year">2003 AND Rating>6.8'
result = pd.read_sql_query(query, conn)

# Display the query result
print(result)

       Title      Genre  Release Year    Director     Cast  Rating  \
0    Movie 6     Horror          2021  Director A  Actor U     9.0
1   Movie 13     Action          2016  Director D  Actor X     7.3
2   Movie 18  Adventure          2022  Director C  Actor Y     9.2
3   Movie 20     Action          2019  Director E  Actor X     9.1
4   Movie 28     Horror          2014  Director D  Actor V     9.8
5   Movie 48      Drama          2012  Director E  Actor T    10.0
6   Movie 50     Horror          2018  Director D  Actor W     7.5
7   Movie 52     Horror          2022  Director A  Actor Z     8.3
8   Movie 53      Drama          2020  Director A  Actor X     9.8
9   Movie 55      Drama          2010  Director B  Actor W     7.9
10  Movie 56     Action          2004  Director A  Actor T     7.3
11  Movie 63     Sci-Fi          2020  Director A  Actor W     8.0
12  Movie 68      Drama          2006  Director C  Actor U     7.7
13  Movie 83    Romance          2005  Director D  Actor T     8.7
14  Movie 88     Horror          2012  Director B  Actor U     9.8
15  Movie 95     Sci-Fi          2004  Director B  Actor V     7.0
16  Movie 97     Action          2021  Director C  Actor W     7.4

    Box Office ($)
0       21000000.0
1       99000000.0
2      417000000.0
3      269000000.0
4      465000000.0
5       98000000.0
6      334000000.0
7      381000000.0
8      480000000.0
9      359000000.0
10     112000000.0
11     175000000.0
12     467000000.0
13      83000000.0
14     383000000.0
15     482000000.0
16     294000000.0